{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <img id="mainicon" src="static\css\shelter.png">
    <!--카테고리-->
    <div class="category">
        <a href="{% url 'create' %}">글쓰기</a>
        <a href="{% url 'portfolio' %}">사진</a>
        <a href="">영상</a>
        <a href="">메세지</a>
    </div>
    <div class="post_detail">

        <h1>{{ blog_detail.title }}</h1>
        <small>{{ blog_detail.pub_date }}</small>
        <p>{{ blog_detail.body }}</p>
        <br>
    </div>
</body>