{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <img id="mainicon" src="static\css\shelter.png">
        <!--카테고리-->
    <div class="category">
        <a href="{% url 'create' %}">글쓰기</a>
        <a href="{% url 'portfolio' %}">사진</a>
        <a href="">영상</a>
        <a href="">메세지</a>
    </div>
    <div>
        <img src="static\css\myphoto.png">
        <div class="profile">{% for practice in practices.all %}
            <h4>이름: {{ practice.name }}</h4>
            <h4>나이: {{ practice.age }}</h4>
        {% endfor %}</div>
    </div>
    
    <h3>POST</h3>

    <div class="post">
        {% for blog in blogs.all %}
        <h2>{{ blog.title }}</h2>
        <a href="{% url 'delete' blog.id %}">삭제</a>
        <a href="{% url 'update' blog.id %}">수정</a>
        <br>
        <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}">글 보기</a>></p>>
        <small>{{ blog.pub_date }}</small>
        {% endfor %}
    </div>
</body>