/* css 파일 만들기 방법 static,css,style.css파일만들기 
html(head)에 style 추가하기. */

@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    margin: 0;
    padding:0;
    width: 1400px;
    font-family: 'BBTreeGR';
    background-image: url("background.png");
    background-repeat: no-repeat;
    
}
div {
    text-align: center;
    margin: 0 auto;
}

h3{
    text-align: center;
    margin: 30px auto;
    font-family: 'BBTreeGR';
    color: white;
}
#mainicon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
}
.category{
    margin-top: 50px;

}

.category>a{
    display: inline;
    color: white;
    margin: 0 20px;
    font-family: 'BBTreeGR'
}


.profile{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.26);
    padding: 15px;
}

.post{

    background-color: rgba(255, 255, 255, 0.26);
    padding: 30px;
}
.post>a{

    margin:0 30px;
}
.post_detail{
    color: whitesmoke;
    margin-top: 80px;
    width: 800px;
    text-align: center;
}

.create{
    width: 800px;
    background-color: rgba(220, 160, 255, 0.185);
    align-content: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px 20px;

}
.create>h2{
    color: whitesmoke;
    font-family: 'BBTreeGR';
}
.upload{
    color:white;
    margin: 0 auto;
}
.hot{
    width: auto;
    height: 150px;
}
.center{
    width: min-content;
    margin: 0 auto;
}
#center{
    padding: 0 auto;
}
#font{
    font-family: 'BBTreeGR';
}

.fontColor{
    color: rgb(61, 61, 61);
}
#center>a{
    margin : 10px;
}