{% extends 'base.html' %}
{% load static %}
    


{% block content %}

    <div>
        <img src="static\css\home_malaysia.jpg" alt="mal">
        <div>
            <h3>Welcome to Malaysia!</h3>
            <p>Great choice! We would like to be the first to welcome you to this colourful and amazing country!
            </p>
        </div>
        <div>
            <h3>주목! 지금 HOT한 여행지</h3>
            <a href=""><img class="hot" src="static\css\kota-kinabalu-sabah-malaysia.jpg" alt="kota_sunset">
            코타키나발루</a>
            <a href=""><img class="hot" src="static\css\penang.PNG" alt="penang">페낭</a>
            <a href=""><img class="hot" src="static\css\kuala.jpg" alt="kuala">쿠알라룸푸르</a>  

        </div>

    </div> 
    
    
{% endblock content %}
    