{% extends 'base.html' %}
{% load static %}
    


{% block content %}

    <div id="font">
        <img src="static\css\home_malaysia.jpg" alt="mal" style="width: 600px; height:auto">
        <div>
            <h3 style="color: white;">Welcome to Malaysia!</h3>
            <p style="color: white;">Great choice! We would like to be the first to welcome you to this colourful and amazing country!
            </p>
        </div>
        <div>
            <h3 style="color: white;" >주목! 지금 HOT한 여행지</h3>
            <div id="center">
                <a style="float:left" href=""><img class="hot" src="static\css\kota-kinabalu-sabah-malaysia.jpg" alt="kota_sunset">
                    <p>사바-코타키나발루</p>
                </a>
                <a style="float:left" href=""><img class="hot" src="static\css\penang.PNG" alt="penang">
                <p>페낭</p></a>
                <a style="float:left" href=""><img class="hot" src="static\css\kuala.jpg" alt="kuala"><p>쿠알라룸푸르</p></a>

            </div>

        </div>

    </div> 
    
    
{% endblock content %}
    